body {
    font-family:“Trebuchet MS”, Tahoma, Arial, sans-serif;
    font-size: 100%;
    /*margin: 0 10%;*/
}
h1{
  line-height: 1.5em;
}
h2 {
  font-size:1.125em; 
  font-weight: normal;
  margin-bottom:0em;
  text-transform: uppercase;
}
p{
  font-family:Georgia, "Times New Roman", Times, serif;  
  font-size:0.875em;  
  margin-top:0em;  
  margin-bottom:1.5em;  
  line-height:1.75em;
}
ul{
  font-size: 0.875em;
  background-color: #E5DAB3;
  margin-bottom:2em;
  padding-left:0em;
  list-style-position: inside;
}
li{
  background-color: lightsalmon;
}
ul li{
  background-color: #ABC8A5;
  margin-top: 1em;
  border: thin red solid;
}
ol{
  font-size:0.875em;
  background-color: lightblue;
  padding-left: 0em;
  list-style-position: inside;
}
ol li{
  margin-top: 10px;
  border: thin red solid;
}


/*---Container Table----*/
.container{
  margin-top: 10px;
  border: thin black solid;
  width: 100%;
}
tr td{
  border: thin black solid;
  height: 300px;
}
.section-a{
  width: 30%;
  text-align: center;
}
.section-b{
  width: 70%;
}
.nav-header{
  background-color: #E5DAB3;
  width: 100%;
  padding: 20px 0;
}
.nav-header th{
  background-color: orange;
}

#wrap{
  background-color: pink;
  border: 1px solid black;
  margin: 0 auto;
}