*{
  box-sizing: border-box;
}
body {
    font-family:“Trebuchet MS”, Tahoma, Arial, sans-serif;
    font-size: 100%;
    /*margin: 0 10%;*/
}
/* .header-logo{
  border: thin solid black;
} */
.header-logo img{
  display: block;
  margin: 0 auto;
  width: 100px;
}
.mainNav{
  background-color: rgb(255, 247, 129);
  overflow: hidden;
}
.mainNav a{
  text-decoration: none;
  padding: 5px 10px;
  float: left;
  color: Black;
  font-size: 20px;
  text-align: center;
}
.mainNav a:hover{
  background-color: rgb(107, 107, 107);
  text-decoration: underline;
  color: white;
}
.container{
  width: 100%;
}
.content-area{
  padding: 10px 30px;
  width: 60%;
  float: left;
  overflow: ;
}
.section-area{
  background-color: rgb(243, 243, 239);
  border: thin solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0px gray;
  margin: 10px auto;
  padding: 10px;
  float: left;
  height: 100%;
  width: 20%;
}
.ads-area{
  background-color: rgb(243, 243, 239);
  border: thin solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0px gray;
  margin: 10px auto;
  padding: 10px;
  float: right;
  height: 100%;
  width: 20%;
}
