* {
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}
.header{
    margin: 20px;
}
.header img{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0px 5px 10px 5px yellow;
}
.box{
    padding: 50px;
}
.section{
    border: thin solid yellow;
    background-color: rgb(41, 41, 41);
    color: white;
    border-radius: 20px;
    padding: 30px 20px;
    clear: both;
    box-shadow: 1px 1px 5px 1px yellow;
}
h1{
    text-align: center;
}
.section img{
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}
.content-area{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}


/* ---- Content Area ----*/
.collapse{
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 14px;
}
.active, .collapse:hover{
    background-color: teal;
    border-radius: 10px;
    color: white;
}
.content{
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: white;
}
p, ul li{
    color: black;
}



/* Simple Responsive Framework. */
.container {
    width: 100%;
  }

/********** Large devices only **********/
@media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
    }
    .col-lg-1 {
      width: 8.33%;
    }
    .col-lg-2 {
      width: 16.66%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-4 {
      width: 33.33%;
    }
    .col-lg-5 {
      width: 41.66%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-7 {
      width: 58.33%;
    }
    .col-lg-8 {
      width: 66.66%;
    }
    .col-lg-9 {
      width: 74.99%;
    }
    .col-lg-10 {
      width: 83.33%;
    }
    .col-lg-11 {
      width: 91.66%;
    }
    .col-lg-12 {
      width: 100%;
    }
  }
  
  /********** Medium devices only **********/
  @media (min-width: 992px) and (max-width: 1199px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
    }
    .col-md-1 {
      width: 8.33%;
    }
    .col-md-2 {
      width: 16.66%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-4 {
      width: 33.33%;
    }
    .col-md-5 {
      width: 41.66%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-7 {
      width: 58.33%;
    }
    .col-md-8 {
      width: 66.66%;
    }
    .col-md-9 {
      width: 74.99%;
    }
    .col-md-10 {
      width: 83.33%;
    }
    .col-md-11 {
      width: 91.66%;
    }
    .col-md-12 {
      width: 100%;
    }
  }